# Lists :: collection of data

Difference between tuple and lists ??

Tuple is immutable..

In [1]:
#create list

a = [1,2,3,4]
type(a)

list

In [2]:
a

[1, 2, 3, 4]

In [4]:
a2 = list(a) #copy of a1

In [6]:
b = []

for i in range(1,21):
    b.append(i)
    
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [8]:
c = [ i for i in range(10)]
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
d = [i * i for i in range(5)]
d

[0, 1, 4, 9, 16]

# List can have different data

In [12]:
e = [1,2, "as", True]
e

[1, 2, 'as', True]

In [13]:
e[0]

1

In [14]:
e[-1]

True

In [15]:
#slicing
e[1:3]

[2, 'as']

In [16]:
for i in e:
    print(i)

1
2
as
True

In [17]:
# Best way to take input

li = "a, bd, sf, sd"
li.split(",")

['a', ' bd', ' sf', ' sd']

In [18]:
li = " ds ed sd as"
li.split(" ")

['', 'ds', 'ed', 'sd', 'as']

In [22]:
li = input().strip() #strip take the trailing spaces away
list = li.split(" ")

list #all as string

23 453 75 34

['23', '453', '75', '34']

In [23]:
#how to get it in int ??

for i in range(0,len(list)):
    list[i] = int(list[i])
    
list

[23, 453, 75, 34]

In [25]:
#one liner

l = [int(x) for x in input().strip().split(" ")]

23 434 543

In [26]:
l

[23, 434, 543]

In [84]:
#function in lists

myList = [1, 'happy', 2]

myList.append(5)

myList.insert(2, "now")

myList

[1, 'happy', 'now', 2, 5]

In [85]:
myList2 = [3, "really", 4]

myList.extend(myList2)

In [86]:
myList

[1, 'happy', 'now', 2, 5, 3, 'really', 4]

In [87]:
#deleting elements

myList.pop() #remove last element

4

In [88]:
myList.pop(2)

'now'

In [89]:
myList

[1, 'happy', 2, 5, 3, 'really']

In [90]:
myList.remove(3) #remove first occurence of true

In [91]:
myList

[1, 'happy', 2, 5, 'really']

In [92]:
del myList[3]

In [93]:
myList

[1, 'happy', 2, 'really']

In [94]:
#can also do slicing
del myList[1:2]

In [95]:
myList

[1, 2, 'really']

In [96]:
del myList[2]
myList

[1, 2]

In [97]:
#myList = myList + 1 #doesnt work
myList = myList * 2 #works
myList

[1, 2, 1, 2]

In [98]:
#sort function
myList.sort()

In [99]:
myList

[1, 1, 2, 2]

In [100]:
myList.count(1)

2

In [101]:
myList.index(2)

2

In [102]:
myList.reverse()

In [104]:
myList

[2, 2, 1, 1]

In [105]:
print(3 in myList)

False