PRINT FUNCTION

In [2]:
a = 10.0
print(a)

10.0

In [3]:
#printing numbers
a = 10
b = 20
print(a + b)
print(a , b)

30
10 20

In [5]:
#Hi Everyone <- This is a comment

"""
This is 
a multiline comment 
"""

'\nThis is \na multiline comment \n'

In [6]:
print("hello")
print("world")

hello
world

In [7]:
#print in single line
c = 30
d = 40
print(c , end = " ")
print(d)

30 40

In [12]:
#print string together
a = 'Hello'
b = 'World'

print(a + b)

HelloWorld

# OUTPUT IS THE LAST LINE

In [13]:
a = 10
a

10

In [14]:
a = 10
b = 20
b
a

10

# VARIABLES

In [16]:
a = 10
b = 10.5
print(a, b)
b = "hello"
print(b)

10 10.5
hello

In [17]:
a = 10
print(type(a))
b = 20.3
print(type(b))
c = "Hello Everyone"
print(type(c))
d = 3 + 4j
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

# Does the scope of a and b go out?

In [18]:
a

10

In [19]:
#OPERATOR

a = 40
b = 30

print(a + b)
print(a - b)
print(a * b)

70
10
1200

In [20]:
#Division

print(a / b)
print(a//b)

1.3333333333333333
1

In [21]:
print(a ** b)
print(2 ** 3)

1152921504606846976000000000000000000000000000000
8

# WILL THIS WORK??

In [22]:
a , b = 10 , 20
c , d = "HELLO" , 30

# BOOLEAN

In [23]:
a = True
print(type(a))

<class 'bool'>

In [24]:
#operators
n = 10
p = 20
q = 30

print(n > p)
print(n <= p)
print(n < p)
print(n == p)
print(n != p)

False
True
True
False
True

In [25]:
#AND OR
print(n < p and n < q)
print(n < p or n < q)

True
True