# Lists :: collection of data

Difference between tuple and lists ??

Tuple is immutable..

In [1]:
#create list

a = [1,2,3,4]
type(a)

list

In [2]:
a

[1, 2, 3, 4]

In [3]:
a2 = list(a) #copy of a1

In [5]:
b = []

for i in range(1,21):
    b.append(i)
    
b
print(type(b))

<class 'list'>

In [6]:
c = [ i for i in range(10)]
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
d = [i * i for i in range(5)]
print(d)

for i in range(5):
    print(i*i)

[0, 1, 4, 9, 16]
0
1
4
9
16

# List can have different data

In [8]:
e = [1,2, "as", True]
e

[1, 2, 'as', True]

In [9]:
e[0]

1

In [11]:
e[-1]

True

In [12]:
#slicing
e[1:3]

[2, 'as']

In [13]:
for i in e:
    print(i)

1
2
as
True

In [14]:
# Best way to take input

li = "a, bd, sf, sd"
li.split(",")

['a', ' bd', ' sf', ' sd']

In [16]:
li = " ds ed sd as "
li.split(" ")

['', 'ds', 'ed', 'sd', 'as', '']

In [19]:
li = input().strip() #strip take the trailing spaces away
list = li.split(" ")

list #all as string

23 43 43

['23', '43', '43']

In [20]:
#how to get it in int ??

for i in range(0,len(list)):
    list[i] = int(list[i])
    
list

[23, 43, 43]

In [21]:
#one liner

l = [int(x) for x in input().strip().split(" ")]

23 43 54

In [22]:
l

[23, 43, 54]

In [23]:
#function in lists

myList = [1, 'happy', 2]

myList.append(5)

myList.insert(2, "now")

myList

[1, 'happy', 'now', 2, 5]

In [24]:
myList2 = [3, "really", 4]

myList.extend(myList2)

In [25]:
myList

[1, 'happy', 'now', 2, 5, 3, 'really', 4]

In [26]:
#deleting elements

myList.pop() #remove last element

4

In [27]:
myList.pop(2)

'now'

In [28]:
myList

[1, 'happy', 2, 5, 3, 'really']

In [29]:
myList.remove(3) #remove first occurence of 3

In [30]:
myList

[1, 'happy', 2, 5, 'really']

In [31]:
del myList[3]

In [32]:
myList

[1, 'happy', 2, 'really']

In [33]:
#can also do slicing
del myList[1:2]

In [34]:
myList

[1, 2, 'really']

In [35]:
del myList[2]
myList

[1, 2]

In [36]:
#myList = myList + 1 #doesnt work
myList = myList * 2 #works
myList

[1, 2, 1, 2]

In [37]:
#sort function
myList.sort()

In [38]:
myList

[1, 1, 2, 2]

In [39]:
myList.count(1)

2

In [40]:
myList.index(2)

2

In [41]:
myList.reverse()

In [42]:
myList

[2, 2, 1, 1]

In [43]:
print(3 in myList)

False